<!-- Projects Start -->
<div class="container-xxl py-6 pt-5" id="project">
    <div class="container">
        <div class="row g-5 mb-5 align-items-center wow fadeInUp" data-wow-delay="0.1s">
            <div class="col-lg-6">
                <h1 class="display-5 mb-0">My Projects</h1>
            </div>
            <div class="col-lg-6 text-lg-end">
                <ul class="list-inline mx-n3 mb-0" id="portfolio-flters">
                    <li class="mx-3 active" data-filter="*">All Projects</li>
                    <li class="mx-3" data-filter=".ai">AI</li>
                    <li class="mx-3" data-filter=".web">Web</li>
                </ul>
            </div>
        </div>
        <div class="row g-4 portfolio-container wow fadeInUp" data-wow-delay="0.1s">
            <!-- Portfolio Website -->
            <div class="col-lg-4 col-md-6 portfolio-item web">
                <div class="portfolio-wrapper rounded overflow-hidden">
                    <div class="portfolio-img overflow-hidden">
                        <img class="img-fluid" src="./img/project-1.jpg" alt="Portfolio Website Project">
                        <div class="portfolio-overlay">
                            <div class="portfolio-content">
                                <h4 class="text-white mb-3">Portfolio Website</h4>
                                <p class="text-white mb-3">Modern portfolio website built with HTML, CSS, and JavaScript featuring responsive design and smooth animations.</p>
                                <div class="portfolio-btn">
                                    <a class="btn btn-lg-square btn-outline-light border-2 mx-1" href="./img/project-1.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                    <a class="btn btn-lg-square btn-outline-light border-2 mx-1" href="https://github.com/dipesh227/dipeshjoshi"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Bootstrap Theme -->
            <div class="col-lg-4 col-md-6 portfolio-item web">
                <div class="portfolio-wrapper rounded overflow-hidden">
                    <div class="portfolio-img overflow-hidden">
                        <img class="img-fluid" src="./img/project-2.jpg" alt="Bootstrap Theme Project">
                        <div class="portfolio-overlay">
                            <div class="portfolio-content">
                                <h4 class="text-white mb-3">Bootstrap Theme</h4>
                                <p class="text-white mb-3">Custom Bootstrap 5 theme with dark mode support and responsive components.</p>
                                <div class="portfolio-btn">
                                    <a class="btn btn-lg-square btn-outline-light border-2 mx-1" href="./img/project-2.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                    <a class="btn btn-lg-square btn-outline-light border-2 mx-1" href="https://github.com/dipesh227/Bootstrap-HTML-Template"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Phone Directory -->
            <div class="col-lg-4 col-md-6 portfolio-item web">
                <div class="portfolio-wrapper rounded overflow-hidden">
                    <div class="portfolio-img overflow-hidden">
                        <img class="img-fluid" src="./img/project-3.jpg" alt="Phone Directory Project">
                        <div class="portfolio-overlay">
                            <div class="portfolio-content">
                                <h4 class="text-white mb-3">Phone Directory</h4>
                                <p class="text-white mb-3">A PHP-based phone directory management system with CRUD operations and search functionality.</p>
                                <div class="portfolio-btn">
                                    <a class="btn btn-lg-square btn-outline-light border-2 mx-1" href="./img/project-3.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                    <a class="btn btn-lg-square btn-outline-light border-2 mx-1" href="https://github.com/dipesh227/phone-directory"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Weather App -->
            <div class="col-lg-4 col-md-6 portfolio-item web">
                <div class="portfolio-wrapper rounded overflow-hidden">
                    <div class="portfolio-img overflow-hidden">
                        <img class="img-fluid" src="./img/project-4.jpg" alt="Weather App Project">
                        <div class="portfolio-overlay">
                            <div class="portfolio-content">
                                <h4 class="text-white mb-3">Weather App</h4>
                                <p class="text-white mb-3">React-based weather application with OpenWeather API integration and geolocation support.</p>
                                <div class="portfolio-btn">
                                    <a class="btn btn-lg-square btn-outline-light border-2 mx-1" href="./img/project-4.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                    <a class="btn btn-lg-square btn-outline-light border-2 mx-1" href="https://github.com/dipesh227/weather-app"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Industrial Training -->
            <div class="col-lg-4 col-md-6 portfolio-item web">
                <div class="portfolio-wrapper rounded overflow-hidden">
                    <div class="portfolio-img overflow-hidden">
                        <img class="img-fluid" src="./img/indrastial.png" alt="Industrial Training Project">
                        <div class="portfolio-overlay">
                            <div class="portfolio-content">
                                <h4 class="text-white mb-3">Room Rent Management</h4>
                                <p class="text-white mb-3">A comprehensive room rental management system developed during industrial training.</p>
                                <div class="portfolio-btn">
                                    <a class="btn btn-lg-square btn-outline-light border-2 mx-1" href="./img/indrastial.png" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                    <a class="btn btn-lg-square btn-outline-light border-2 mx-1" href="https://github.com/dipesh227/RoomRent"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Minor Project -->
            <div class="col-lg-4 col-md-6 portfolio-item web">
                <div class="portfolio-wrapper rounded overflow-hidden">
                    <div class="portfolio-img overflow-hidden">
                        <img class="img-fluid" src="./img/minor.png" alt="Minor Project">
                        <div class="portfolio-overlay">
                            <div class="portfolio-content">
                                <h4 class="text-white mb-3">HVC Management</h4>
                                <p class="text-white mb-3">A vehicle management system developed as a minor project.</p>
                                <div class="portfolio-btn">
                                    <a class="btn btn-lg-square btn-outline-light border-2 mx-1" href="./img/minor.png" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                    <a class="btn btn-lg-square btn-outline-light border-2 mx-1" href="https://github.com/dipesh227/hvc"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Projects End -->